*{
    background-color: #14161C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    border-bottom: 1px solid #585858;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* padding: 0 20px;
    box-sizing: border-box;
    width: 100%; */
}
header img{
    margin-left: 65px;
}


/* Jogo */
.jogo {
    /* margin: 50px auto 0;
    width: 330px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.linha-jogo {
    display: grid;
    gap: 5px;
    grid-template-columns: 62px 62px 62px 62px 62px;
    height: 62px;
    margin-bottom: 5px;
}

.linha-jogo div{
    border: 1px solid #585858;
}

/* teclas */
.teclado {
    /* margin: 50px auto 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.tecla-linha {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.tecla-linha .enviar{
    font-size: 17px;
    width: 80px;
}
.tecla-linha .deletar img{
    background-color: #818384;
}

.tecla-linha button{
    align-items: center;
    background-color: #818384;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 58px;
    justify-content: center;
    transition: filter 0.2s;
    width: 43px;
    color: white;
    border: none;
}

.tecla-linha button:hover{
    filter: brightness(0.8);
}
